# Залежності
node_modules/
package-lock.json

# Логи та тимчасові файли
*.log
npm-debug.log*

# Системні файли ОС
.DS_Store
Thumbs.db

# Конфігурації IDE та редакторів
.vscode/
.idea/

# Збірки та кеш
dist/
build/
.cache/